@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins-Bold.ttf) format("truetype");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}
